.transformCenterCont {
    position:relative;
    height:100%;
    width:100%;
    .transformCenter {
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
    }
}
.flexCenterCont {
    display:flex;
    justify-content:center;
    height:100%;
    width:100%;
    overflow:hidden;
    .flexCenter {
        flex:none;
    }
}