/* Micro layouts */

/*
Custom Collapse

Didn't like the bootstrap default collapse widget, I'm still using the behavior associated, the 3 part class change to effect the collapsed thing But I'm changing the look/feel of the collaper, i.e. the a href. Sticking with an a element, because href not technically allowed on divs

*/
.customCollapse {
  min-width: 135px;
  margin: 8px;

  .collapser {
    display: inline-block;
    border: 1px solid black;
    text-align: center;
    margin-bottom: 15px;
    /*
            I want the plus/minus and title to the vertically centered in div AS WELL as vertically centered with eachother... Rather than coming up with some multi div table solution, so that the span and icon can be height changed responsively, I'll just fix height and manually calculate padding... I'm not a finiky designer, I'll  stick with the height...
        */
    padding: 7.5px;

    &:hover {
      text-decoration: none;
    }
    .title,
    i {
      display: inline-block;
      vertical-align: middle;
      margin: 0;
    }
    i {
      /* Default none, so I don't have to double declare "hidden" with i.showOnCollapsed AND i.showOnExpanded */
      display: none;
    }
  }
  .collapser[aria-expanded="true"] {
    i.showOnExpanded {
      display: inline-block;
    }
  }
  .collapser[aria-expanded="false"] {
    i.showOnCollapsed {
      display: inline-block;
    }
  }
  .collapse {
  }
}

/*
    underTheHood
*/
#underTheHood {
  position: relative;
  width: 100%;
  .ui-opener {
    transition: 0.5s;
    margin-left: 0px;
    margin-top: -8px;

    position: absolute;
    height: 30px;
    width: 30px;
    padding: 6px 8px;
    transform: rotate(0deg);
    cursor: hand;
    border: 1px solid black;
    border-radius: 50%;
  }
  .ui-bar {
    transition: 0.5s;
    height: 30px;
    width: calc(100% - 60px);

    margin-left: 30px;
    padding-top: 4px;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    i {
      cursor: hand;
      margin: auto;
      display: inline-block;
    }
  }
  &.open {
    .ui-opener {
      margin-left: calc(100% - 30px);
      margin-top: 0px;
      transform: rotate(180deg);
    }
  }
  &.closed {
    .ui-bar {
      width: 0px;
    }
  }
}

#colorPicker {
  width: 30px;
  height: 30px;
  clear: both;
  .track {
    background: #efefef url(../assets/tinycolorpicker.png) no-repeat 50% 50%;
    height: 150px;
    width: 150px;
    position: absolute;
    cursor: crosshair;
    float: left;
    display: none;
    z-index: 10;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    border-radius: 150px;
  }
  .color {
    position: relative;
    display: block;
    z-index: 11;
    cursor: pointer;
  }
  .colorInner {
    width: 25px;
    height: 25px;
  }
  .dropdown {
    list-style: none;
    display: none;
    width: 27px;
    position: absolute;
    top: 28px;
    border: 1px solid #ccc;
    left: 0;
    z-index: 1000;
  }
  .dropdown li {
    height: 25px;
    cursor: pointer;
  }
}

/*
    Single class elements. One offs
    */
.transformCenterCont {
  position: relative;
  height: 100%;
  width: 100%;
  .transformCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.halfhr {
  width: 50%;
  margin: 25px 25% 25px;
  border-bottom: 1px solid black;
}
.porthole {
  border-radius: 50%;
  overflow: hidden;
}
